@charset "UTF-8";

.about_wrap {
  display: flex;
  justify-content: center;
  padding-left: 4%;
}

.about_img {
  display: inline-block;
  position: relative;
}

.about_img img{
  max-width: 500px;
  width: 50vw;
  height: auto;
  /* border-radius: 8%; */
}

.about_img::after {
  position: absolute;
  display: block;
  content:"";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* border-radius: 8%; */
  background: rgba(0,0,0,0);
  box-shadow: inset 0 0 16px 10px #fff;
}

.about_txt {
  margin: 8px 4%;
}

.about_wrap .about_txt .about_ttl h3 {
  display: inline-block;
  font-size: 40px;
  margin-bottom: 24px;
  color: #ffb580;
}

.about_wrap .about_txt .about_ttl::after {
  content: "";
  display: inline-block;
  width: calc(100% - 290px);
  height: 3px;
  background: #ffb580;
}

.about_wrap .about_txt .border {
  margin: 20px 0;
  width:100%;
  height: 3px;
  background: #ffb580;
}

.about_wrap .about_txt p {
  line-height: 48px;
}

.about_wrap .about_txt p strong {
  background: linear-gradient(transparent 50%, #ffec9a 50%);
}

.about_com .inner{
  max-width: 900px;
}

.about_com {
  margin-bottom: 200px;
}

.about_com .section_ttl {
  margin-bottom: 40px;

}

.about_com_all {
  padding: 100px;
  border: solid 2px #ddd;
  -webkit-box-shadow: 20px 20px 30px #ddd;
  box-shadow: 20px 20px 30px #ddd;
  display: flex;
}

.about_com_list {
  width: 50%;
}

.about_com_item {
  margin-bottom: 40px;
}

.about_com_ttl {
  font-size: 23px;
  display: inline-block;
  padding-bottom: 8px;
}

.about_com_txt {
  font-size: 20px;
  display: inline-block;
  padding-bottom: 8px;

}

/* Member */
.about_mem {
  margin-bottom: 200px;
}

.about_mem .inner{
  max-width: 900px;
}

.about_mem .section_ttl {
  margin-bottom: 80px;
}

.about_mem_all {
  display: flex;
  padding: 100px;
  border: solid 2px #ddd;
  -webkit-box-shadow: 20px 20px 30px #ddd;
  box-shadow: 20px 20px 30px #ddd;
}

.about_mem_per {
  width: 50%;
  margin: 0 5%;
}

.about_mem_ttl {
  font-size: 23px;
  position: relative;
  margin-bottom: 30px;
}

.about_mem_ttl::before {
  content: "";
  width: 4px;
  height: 30px;
  background-color: #75a9ff;
  position: absolute;
  top: 15%;
  left: -3%;
}

.about_mem_name {
  font-size: 20px;
  margin-bottom: 35px;
}

.about_mem_txt {
  font-size: 18px;
  line-height: 1.8;
}

/* Access */
.about_acc {
  margin-bottom: 150px;
  padding: 0 20px;
}

.about_acc .section_ttl {
  margin-bottom: 80px;
}

.about_acc_map {
  width: 55%;
  height: 350px;
  -webkit-clip-path: polygon(0% 0%, 0% 400%, 100% 0%);
  clip-path: polygon(0% 0%, 0% 400%, 100% 0%);
}

.about_acc_map iframe {
  width: 100%;
  height: 100%;
}

.acc_wrap {
  position: relative;
}

.about_acc_list {
  position: absolute;
  top: 0%;
  left: 60%;
}

.about_acc_item {
  margin-bottom: 40px;
  line-height: 1.5em;
}

.about_acc_ttl {
  margin-bottom: 10px;
  font-size: 23px;
}



@media screen and (max-width: 768px) {
  .about_wrap {
    padding: 0;
  }
}

@media screen and (max-width: 540px) {
  .about_com, .about_mem {
    margin-bottom: 120px;
  }

  .about_com_all, .about_mem_all {
    padding: 70px;
    flex-direction: column;
  }

  .about_com .inner, .about_mem .inner  {
    max-width: 90%;
  }

  .about_com_list {
    width: 100%;
  }

  .about_mem_per {
    width: 100%;
    margin: 0 0 10%;
  }

  .about_mem_ttl::before {
    top: 0;
    height: 24px;
  }

  .about_acc_item {
    margin-bottom: 24px;
  }
}

@media screen and (max-width: 480px) {
  .about_com_all {
  display: block;
}

.about_com_list {
  width: 100%;
}

.about_com_txt {
  font-size: 16px;
}
.about_mem_all {
  display: block;
}

.about_mem_per {
  width: 100%;
  margin: 0 0 20%;
}

.about_mem_name {
  font-size: 20px;
  margin-bottom: 25px;
}

.about_mem_txt {
  font-size: 16px;
}

.about_acc {
  margin-bottom: 50px;
}

.about_acc_list {
  position: relative;
  margin: 30px 0;
  top: 0;
  left: 0;
  transform: none;
}

.about_acc_txt {
  font-size: 18px;
  line-height: 1.5;
}

.about_acc_map {
  width: unset;
  height: 350px;
  margin: 10px;
  -webkit-clip-path: none;
  clip-path: none;
}
}